<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[*]ChickenBroker.Application.Repositories*,[*]ChickenBroker.Application.Database*,[*]ChickenBroker.Application.Mapping*,[*]ChickenBroker.Application.Models*,[*]ChickenBroker.Application.Validators*</Exclude> <!-- [Assembly-Filter]Type-Filter -->
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>